@page "/CarianMaklumatWakaf"
@using CurrieTechnologies.Razor.SweetAlert2
@using DAL.Entiti
@using IdentityAuthentication
@using Microsoft.AspNetCore.Authorization
@using SAL
@using System.Security.Claims
@using eTakaf2025.Components.Layout
<PageTitle>Carian Maklumat Wakaf</PageTitle>

@attribute [Authorize]
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@layout MainLayout
@inject IServices _service
@inject SweetAlertService Swal
@inject IConfiguration _conf
@inject NavigationManager NavMan
@inject IIdentityAuthenticationLib myIden

<EditForm Model="inputModel" FormName="XP" OnValidSubmit="SaveRecords">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center" style="font-weight:bold; color:white; background-color:#067384;">
                <img src="images/mains_panjang.png" class="img-fluid mt-2" style="height:65%;" alt="Logo"  />
                <h3 class="mb-0 mt-2">
                   <i class="fa-regular fa-house-chimney pe-2"></i>
                    PORTAL CARIAN MAKLUMAT TANAH WAKAF NEGERI SEMBILAN (e-TAKAF)
                </h3>
                <div class="text-center">
                     <a href="https://mainsonline.mainsnet22.com/e-takaf" class="btn btn-warning rounded-pill btn-wave">
                    <i class="fa-regular fa-house-chimney pe-2"></i> Home 
                </a>
                </div>
            </div>
            <div class="card-body">
                <div class="card border-danger mt-2 mb-5 px-3">
                      <div class="row mt-2 mb-5">
                    <div class="col-sm-6 col-md-6">
                        <label class="label">Jenis Carian</label>
                        <select style="font-weight:bold;" required class="form-select" @bind="Carian">
                            <option style="font-weight:bold;" value=""> Pilih Carian</option>
                            <option style="font-weight:bold;" value="C3">Carian Melalui No Lot/No Geran/Daerah</option>
                            <option style="font-weight:bold;" value="C1">Carian Melalui Tahun/Kategori/Daerah</option>
                             <option style="font-weight:bold;" value="C2">Carian Melalui Daerah</option>
                            <option style="font-weight:bold;" value="C4">Carian Tanah Wakaf AM</option>  
                        </select>                       

                    </div>
                    <div class="col-4 mt-auto">
                        <button class="btn btn-primary p-2" type="button" @onclick="ShowMenu" title="Pilih Carian">
                           <i class="fa-duotone fa-solid fa-check"></i>
                        </button>    
                         <button class="btn btn-danger p-2" type="button" @onclick="ResetMula" title="Reset">
                            <i class="fa-regular fa-xmark-large"></i>
                        </button>
                    </div>
                </div>
                </div>

              


                @if (Carian1)
                {
                    <div class="row justify-content-center px-4 d-flex">
                        <p class="fw-bold">Carian Melalui Gabungan Tahun, Kategori dan Daerah</p>
                        <div class="card border-success pe-2 mb-2">
                            <div class="row mt-1 mb-3">
                                <div class="col-sm-2 col-md-2">
                                    <label class="label">Tahun</label>
                                    <select style="font-weight:bold;" required class="form-select" @bind="TahunPilihan">
                                        <option style="font-weight:bold;" value=""> -Tahun-</option>
                                        @foreach (var xx in _tahun)
                                        {
                                            <option value="@xx.Tahun" style="font-weight:bold;">@xx.Tahun</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <label class="label">Kategori</label>
                                    <select style="font-weight:bold;" required class="form-select" @bind="KategoriPilihan">
                                        <option style="font-weight:bold;" value=""> -Kategori-</option>
                                        <option style="font-weight:bold;" value="TWA">TANAH WAKAF AM</option>
                                        <option style="font-weight:bold;" value="TWK">TANAH WAKAF KHAS</option>

                                    </select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <label class="label">Daerah</label>
                                    <select style="font-weight:bold;" required class="form-select" @bind="DaerahPilihan">
                                        <option style="font-weight:bold;" value=""> -Daerah-</option>
                                        <option style="font-weight:bold;" value="JELEBU"> JELEBU</option>
                                        <option style="font-weight:bold;" value="JEMPOL"> JEMPOL</option>
                                        <option style="font-weight:bold;" value="KUALA PILAH"> KUALA PILAH</option>
                                        <option style="font-weight:bold;" value="PORT DICKSON"> PORT DICKSON</option>
                                        <option style="font-weight:bold;" value="REMBAU"> REMBAU</option>
                                        <option style="font-weight:bold;" value="SEREMBAN"> SEREMBAN</option>
                                        <option style="font-weight:bold;" value="TAMPIN"> TAMPIN</option>


                                        @*  @if (adaDaerah)
                                {
                                    @foreach (var xx in _lstDaerah)
                                    {
                                        <option value="@xx.DaerahDW" style="font-weight:bold;">@xx.DaerahDW</option>
                                    }
                                } *@
                                    </select>
                                </div>
                                <div class="col-4 mt-auto">
                                    <button class="btn btn-success p-2" type="submit" title="Cari Info">
                                        <i class="fa-solid fa-magnifying-glass px-2"> </i>
                                    </button>
                                    <button class="btn btn-danger p-2" type="button" @onclick="Reset" title="Reset">
                                        <i class="fa-solid fa-recycle px-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   
                }
                else if (Carian2)
                {
                      <div class="row justify-content-center px-4 d-flex">
                           <p class="fw-bold">Carian Melalui Gabungan Tahun, Kategori dan Daerah</p>
                            <div class="card border-danger pe-2 mb-2">
                                 <div class="row mt-1 mb-3">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="label">Daerah</label>
                                        <select style="font-weight:bold;" required class="form-select" @bind="DaerahPilihan">
                                            <option style="font-weight:bold;" value=""> Sila Pilih Daerah</option>
                                            <option style="font-weight:bold;" value="JELEBU"> JELEBU</option>
                                            <option style="font-weight:bold;" value="JEMPOL"> JEMPOL</option>
                                            <option style="font-weight:bold;" value="KUALA PILAH"> KUALA PILAH</option>
                                            <option style="font-weight:bold;" value="PORT DICKSON"> PORT DICKSON</option>
                                            <option style="font-weight:bold;" value="REMBAU"> REMBAU</option>
                                            <option style="font-weight:bold;" value="SEREMBAN"> SEREMBAN</option>
                                            <option style="font-weight:bold;" value="TAMPIN"> TAMPIN</option>
                                        </select>
                                    </div>
                                    <div class="col-4 mt-auto">
                                        <button class="btn btn-success p-2" type="submit" title="Cari Info">
                                            <i class="fa-solid fa-magnifying-glass px-2"> </i>
                                        </button>
                                        <button class="btn btn-danger p-2" type="button" @onclick="Reset" title="Reset">
                                            <i class="fa-solid fa-recycle px-2"></i>
                                        </button>
                                    </div>
                                 </div>
                            </div>
                    </div>
                }
                else if (Carian3)
                {
                     <div class="row justify-content-center px-4 d-flex">
                        <p class="fw-bold">Carian Melalui Daerah, Nombor Lot dan Nombor Geran HakMilik</p>
                        <div class="card border-success pe-2 mb-2">
                            <div class="row mt-1 mb-3">
                                 <div class="col-sm-4 col-md-4">
                                    <label class="label">Daerah</label>
                                    <select style="font-weight:bold;" required class="form-select" @bind="DaerahPilihan">
                                        <option style="font-weight:bold;" value=""> -Daerah-</option>
                                        <option style="font-weight:bold;" value="JELEBU"> JELEBU</option>
                                        <option style="font-weight:bold;" value="JEMPOL"> JEMPOL</option>
                                        <option style="font-weight:bold;" value="KUALA PILAH"> KUALA PILAH</option>
                                        <option style="font-weight:bold;" value="PORT DICKSON"> PORT DICKSON</option>
                                        <option style="font-weight:bold;" value="REMBAU"> REMBAU</option>
                                        <option style="font-weight:bold;" value="SEREMBAN"> SEREMBAN</option>
                                        <option style="font-weight:bold;" value="TAMPIN"> TAMPIN</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <label class="label">No. Geran</label>
                                    <input type="text" class="form-control" @bind="NoGeranCarian" style="font-weight:bold;" placeholder="No. Geran Anda" />
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <label class="label">No. Lot</label>
                                    <input type="text" class="form-control" @bind="NoLotCarian" style="font-weight:bold;" placeholder="No. Lot Anda" />
                                </div>
                               
                                <div class="col-4 mt-auto">
                                    <button class="btn btn-success p-2" type="submit" title="Cari Info">
                                        <i class="fa-solid fa-magnifying-glass px-2"> </i>
                                    </button>
                                    <button class="btn btn-danger p-2" type="button" @onclick="Reset" title="Reset">
                                        <i class="fa-solid fa-recycle px-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                }
                else if (Carian4)
                {
                    <div class="row justify-content-center px-4 d-flex">                       
                         <p class="fw-bold">Carian Tanah Wakaf AM Melalui Daerah</p>  
                         <div class="card border-success pe-2 mb-2">
                              <div class="row mt-1 mb-3">
                                  <div class="col-sm-4 col-md-4 mt-2">
                                    <label class="label">Daerah</label>
                                    <select style="font-weight:bold;" required class="form-select" @bind="DaerahPilihan">
                                        <option style="font-weight:bold;" value=""> -Daerah-</option>
                                        <option style="font-weight:bold;" value="JELEBU"> JELEBU</option>
                                        <option style="font-weight:bold;" value="JEMPOL"> JEMPOL</option>
                                        <option style="font-weight:bold;" value="KUALA PILAH"> KUALA PILAH</option>
                                        <option style="font-weight:bold;" value="PORT DICKSON"> PORT DICKSON</option>
                                        <option style="font-weight:bold;" value="REMBAU"> REMBAU</option>
                                        <option style="font-weight:bold;" value="SEREMBAN"> SEREMBAN</option>
                                        <option style="font-weight:bold;" value="TAMPIN"> TAMPIN</option>
                                    </select>
                                </div>
                                  <div class="col-4 mt-auto">
                                        <button class="btn btn-success p-2" type="submit" title="Cari Info">
                                            <i class="fa-solid fa-magnifying-glass px-2"> </i>
                                        </button>   
                                        <button class="btn btn-danger p-2" type="button" @onclick="Reset" title="Reset">
                                            <i class="fa-solid fa-recycle px-2"></i>
                                        </button>
                                    </div>
                              </div>                              
                         </div>                        
                    </div>
                }

                @if (adaRekod)
                    {             
                        <div class="row mt-4">
                            <div><h5 style="font-weight:bold">Output Carian : <span style="color:red;">@OutputCarian</span></h5></div>
                            <div class="table-responsive-lg">
                                <table style="font-size:12px;" id="myTable" class="table table-bordered table-hover">
                                    <thead class="table-success">
                                        <tr>
                                            <td class="text-center" style="font-weight:bold;">#</td>
                                            <td style="font-weight:bold;"> Daerah</td>
                                             <td style="font-weight:bold;">No Fail</td>
                                            <td style="font-weight:bold;">Kategori</td>
                                            <td style="font-weight:bold;">Mukim</td>
                                            <td style="font-weight:bold;">Tahun Wakaf</td>
                                            <td class="text-center">Keluasan (Ha)</td>
                                            <td class="text-center">Info</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in _lstMaklumat)
                                        {
                                            <tr>
                                                <td class="text-center">@item.Id</td>
                                                <td>@item.Daerah</td>
                                                <td>@item.NoDaftar</td>
                                               <td style="color:@(item.NoFail == "TWA" ? "darkblue" : "darkgreen")">
                                                    @(item.NoFail == "TWA" ? "Tanah Wakaf Am" : "Tanah Wakaf Khas")
                                                </td>
                                                <td><span style="color:red;font-weight:bold;">@item.MukimPekanBandar</span></td>
                                                <td>@item.TahunWakaf?.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center"><span style="color:darkgreen;font-weight:bold;">@Convert.ToDecimal(item.KeluasanTanahDiWakaf).ToString("F3")</span></td>
                                                <td class="text-center">
                                                    <button class="btn btn-outline-danger" @onclick="() => GetValue(item)"
                                                            type="button" data-bs-toggle="modal" data-bs-target="#myModal"
                                                            aria-controls="offcanvasRight">
                                                        <i class="fa-solid fa-circle-info px-2"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                @if (adaRekod4)
                {
                    <div class="row mt-4">
                            <div><h5 style="font-weight:bold">Output Carian : <span style="color:red;">@OutputCarian</span></h5></div>
                            <div class="table-responsive-lg">
                                <table style="font-size:12px;" id="myTable4" class="table table-bordered table-hover">
                                    <thead class="table-success">
                                        <tr>
                                           <td style="font-weight:bold;"> Daerah</td>
                                            <td style="font-weight:bold;">Kategori</td>
                                            <td class="text-center" style="font-weight:bold;">Jumlah</td>
                                            <td class="text-center">Info</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in _lstMaklumatCarian4)
                                        {
                                            <tr>
                                               <td style="font-weight:bold;">@item.Daerah</td>
                                               <td style="color:@(item.Kategori == "TWA" ? "darkblue" : "darkgreen")">
                                                    @(item.Kategori == "TWA" ? "Tanah Wakaf Am" : "Tanah Wakaf Khas")
                                                </td>
                                                <td class="text-center"><span style="color:red;font-weight:bold;">@item.Jumlah</span></td>
                                                <td class="text-center">
                                                    <button class="btn btn-outline-danger" type="button"  aria-controls="offcanvasRight" @onclick="() => GetValueTWA(item)">
                                                        <i class="fa-solid fa-circle-info px-2"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                }
                
                <hr>
                <div>
                    <div class="row mt-2 text-center">
                        <div class="col-sm-6 col-md-6">
                            <label><i><small>Jumlah Capaian Carian Gabungan : <span style="color:red;"> @JumlahCarian1</span> kali</small></i></label>
                        </div>
                         <div class="col-sm-6 col-md-6">
                              <label><i><small>Jumlah Capaian Carian Daerah : <span style="color:red;"> @JumlahCarian2</span> kali</small></i></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-end bg-light shadow-lg" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header border-bottom bg-success text-white">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">🗂 Tutup Tetingkap</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="col-sm-12">
                <label class="form-label fw-bold text-primary">Fail</label>
                <input type="text" value="@(NoFail == "TWA" ? "TANAH WAKAF AM" : "TANAH WAKAF KHAS")" readonly class="form-control mb-3 rounded-3 shadow-sm">

                <label class="form-label fw-bold text-primary">Daerah</label>
                <input type="text" value="@Daerah" readonly class="form-control mb-3 rounded-3 shadow-sm">

                <label class="form-label fw-bold text-primary">Mukim</label>
                <input type="text" value="@Mukim" readonly class="form-control mb-3 rounded-3 shadow-sm">

                <label class="form-label fw-bold text-primary">No Hak Milik</label>
                <input type="password" value="@NoHakMilik" readonly class="form-control mb-3 rounded-3 shadow-sm">

                <label class="form-label fw-bold text-primary">No Lot</label>
                <input type="password" value="@NoLot" readonly class="form-control mb-3 rounded-3 shadow-sm">

                @if (!string.IsNullOrEmpty(Catatan))
                {
                    <label class="form-label fw-bold text-primary">Catatan</label>
                    <input type="text" value="@Catatan" readonly class="form-control mb-3 rounded-3 shadow-sm">
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg rounded-4 border-0" style="backdrop-filter: blur(12px);">
            <div class="modal-header border-0 text-white" style="background: linear-gradient(135deg, #4CAF50, #2E7D32);">
                <h5 class="modal-title fw-bold" id="myModalLabel">🗂 Maklumat Tanah</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">FAIL</label>
                        <input type="text" value="@(NoFail == "TWA" ? "TANAH WAKAF AM" : "TANAH WAKAF KHAS")" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">DAERAH</label>
                        <input type="text" value="@Daerah" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">MUKIM</label>
                        <input type="text" value="@Mukim" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">NO HAK MILIK</label>
                        <input type="text" value="@NoHakMilik" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">NO LOT</label>
                        <input type="text" value="@NoLot" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                     <div class="col-md-6">
                        <label class="form-label fw-bold text-primary">KEGUNAAN</label>
                        <input type="text" value="@Kegunaankategori" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-white">
                    </div>
                    @if (!string.IsNullOrEmpty(Catatan))
                    {
                        <div class="col-md-6">
                            <label class="form-label fw-bold text-primary">CATATAN</label>
                            <input type="password" value="@Catatan" readonly class="form-control rounded-3 border-0 shadow-sm bg-dark text-warning">
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-end">
                <button type="button"title="Close Window" class="btn btn-outline-success fw-bold shadow-sm px-4" data-bs-dismiss="modal"><i class="fa-solid fa-door-open"></i></button>
            </div>
        </div>
    </div>
</div>


</EditForm>


<style type="text/less">
    .card-header {
        background-color: #d4edda !important;
    }
</style>
@code {
    public string TahunPilihan { get; set; } = string.Empty;
    public string KategoriPilihan { get; set; } = string.Empty;
    public string DaerahPilihan { get; set; } = string.Empty;
    public string Carian { get; set; } = string.Empty;
    public int JumlahCarian1 { get; set; } = 0;
    public int JumlahCarian2 { get; set; } = 0;
    public int JumlahCarian3 { get; set; } = 0;
    public int JumlahCarian4 { get; set; } = 0;

    public bool isProcess = false;
    public bool adaRekod = false;public bool adaRekod4 = false;
    public bool adaDaerah = false;

    public bool Carian1 = false;
    public bool Carian2 = false;
    public bool Carian3 = false;
    public bool Carian4 = false;

    public string NoGeranCarian = string.Empty;
    public string NoLotCarian = string.Empty;

    public int OutputCarian { get; set; } = 0;

    public string NoHakMilik { get; set; } = string.Empty;
    public string NoLot { get; set; } = string.Empty;
    public string KategoriPermohon { get; set; } = string.Empty;
    public string Mukim { get; set; } = string.Empty;
    public string KegunaanTanah { get; set; } = string.Empty;
    public string Daerah { get; set; } = string.Empty;
    public string NoFail { get; set; } = string.Empty;
    public string Catatan { get; set; } = string.Empty;
    public string Kegunaankategori { get; set; } = string.Empty;
    public string Mode = string.Empty;

    List<myYear> _tahun = new List<myYear>(); IEnumerable<InfoDaerah> _lstDaerah = [];
    IEnumerable<tblLegasiWakaf> _lstMaklumat = new List<tblLegasiWakaf>();
    IEnumerable<myCarian4> _lstMaklumatCarian4 = new List<myCarian4>();

    public class InputModel
    {
        public string Tahun { get; set; } = string.Empty;
        public string Kategori { get; set; } = string.Empty;
        public string Daerah { get; set; } = string.Empty;
    }


    public InputModel inputModel = new InputModel()
    {
        Tahun = string.Empty,
        Kategori = string.Empty,
        Daerah = string.Empty
    };

    public myCarian4 inputCarian4 = new myCarian4()
    {
        Jumlah = string.Empty,
        Kategori = string.Empty,
        Daerah = string.Empty
    };

    private async Task OnCarianChanged(ChangeEventArgs e)
    {
        Carian = e.Value.ToString() ?? "";
        try
        {
            Carian = e.Value?.ToString() ?? string.Empty;
            if (!string.IsNullOrEmpty(Carian))
            {
                //Carian = e.Value.ToString() ?? string.Empty;
                Carian1 = Carian == "C1";
                Carian2 = Carian == "C2";
                Carian3 = Carian == "C3";
                Carian4 = Carian == "C4";
                adaRekod = false;adaRekod4 = false;
                StateHasChanged();
            }
            else
            {
                await _service.ShowSweetAlertAsync("Sila Pilih Jenis Carian", "Pemilihan Carian", SweetAlertIcon.Error, false, "Ok");
            }


        }
        catch(System.Exception ex)
        {
            // Console.WriteLine(ex.Message);
            // throw new Exception(ex.Message);
            await _service.ShowSweetAlertAsync("Sila Pilih Jenis Carian", "Pemilihan Carian", SweetAlertIcon.Error, false, "Ok");
        }
    }
    private async Task ShowMenu()
    {
        try
        {
            if (!string.IsNullOrEmpty(Carian))
            {
                Carian1 = Carian == "C1";
                Carian2 = Carian == "C2";
                Carian3 = Carian == "C3";
                Carian4 = Carian == "C4";
                adaRekod = false;adaRekod4 = false;
                StateHasChanged();
            }
            else
            {
                await _service.ShowSweetAlertAsync("Sila Pilih Jenis Carian", "Info", SweetAlertIcon.Warning, false, "Ok");
                Carian = "";
                Carian1 = false;Carian2 = false;Carian3 = false; Carian4 = false;
                adaRekod = false;adaRekod4 = false; StateHasChanged();
            }
        }
        catch(System.Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw new Exception(ex.Message);
        }
    }

    private void ResetMula()
    {
        Carian = "";Carian1 = false;Carian2 = false;
        Carian3 = false; Carian4 = false;
        adaRekod = false;adaRekod4 = false;
        StateHasChanged();
    }

    private void Reset()
    {
        TahunPilihan = string.Empty;
        KategoriPilihan = string.Empty;
        DaerahPilihan = string.Empty;

        NoLotCarian = string.Empty; NoGeranCarian = string.Empty;

        adaRekod = false;adaRekod4 = false;
        StateHasChanged();
    }

    private void GetValue(tblLegasiWakaf data)
    {
        NoHakMilik = data.JenisNoHakMilik;
        NoLot = data.NoLot;
        Mukim = data.MukimPekanBandar;
        KegunaanTanah = data.KegunaanKategori;
        NoFail = data.NoFail;
        Daerah = data.Daerah;
        Catatan = data.Catatan;
        Kegunaankategori = data.KegunaanKategori;
        // Replace with actual value from the selected record
        StateHasChanged();
    }

    private void GetValueDetails(tblLegasiWakaf data)
    {
        NoHakMilik = data.JenisNoHakMilik;
        NoLot = data.NoLot;
        Mukim = data.MukimPekanBandar;
        KegunaanTanah = data.KegunaanKategori;
        NoFail = data.NoFail;
        Daerah = data.Daerah;
        Catatan = data.Catatan;
        Kegunaankategori = data.KegunaanKategori;
        // Replace with actual value from the selected record
        StateHasChanged();
    }

    private void GetValueTWA(myCarian4 data)
    {
        var datx = data.Daerah;
    }

    public class myYear
    {
        public int Tahun { get; set; }
    }

    private async Task LoadFile()
    {
        await JSRuntime.InvokeVoidAsync("loadSweetAlert");
    }

    protected override void OnInitialized()
    {
        int currentYear = DateTime.Now.Year;
        int startYear = currentYear - 20; // Last 5 years
        int endYear = currentYear + 3;   // Next 3 years

        for (int i = startYear; i <= endYear; i++)
        {
            myYear _tt = new()
            {
                Tahun = i,
            };
            _tahun.Add(_tt);
        }
        base.OnInitialized();
    }

     protected override async Task OnInitializedAsync()
    {
        Mode = _conf["Mode"]?.ToString() ?? string.Empty;
        var authState = await myIden.GetUserAsync();
        var user = authState.Identity as ClaimsIdentity;

        if (user == null || !user.IsAuthenticated)
        {
            await myIden.SignOutUserAsync();
            string baseUrl = (Mode == "Dev") ? "/SessiTamat" : "/e-Takaf/SessiTamat";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFile();
            _lstDaerah = await _service.GetInfoDaerahOnly();
            adaDaerah = (_lstDaerah.Any());

            JumlahCarian1 = await _service.GetCounterNumberTakaf("Carian1");
            JumlahCarian2 = await _service.GetCounterNumberTakaf("Carian2");
            StateHasChanged();
        }

    }

    private async Task SaveRecords()
    {
        // try
        // {   
            
            adaRekod = false;
            _lstMaklumat = Enumerable.Empty<tblLegasiWakaf>();
            if (Carian1)
            {
                int counter = 1; 
                _lstMaklumat = (await _service.GetMaklumatLegasiRekod(TahunPilihan, KategoriPilihan, DaerahPilihan))
               .Select(item => { item.Id = counter++; return item; }).ToList();

                //  _lstMaklumat = await _service.GetMaklumatLegasiRekod(TahunPilihan, KategoriPilihan, DaerahPilihan);
                if (_lstMaklumat.Any())
                {
                    JumlahCarian1 = await _service.UpdateRunningNumber("Carian1");
                    adaRekod = true; OutputCarian = _lstMaklumat.Count();
                    StateHasChanged();

                    if (adaRekod)
                    {
                        await Task.Delay(100); // Optional: allow DOM to settle
                        await JSRuntime.InvokeVoidAsync("initializeDataTable", "myTable");
                        await JSRuntime.InvokeVoidAsync("initializeDataTablesForAll"); StateHasChanged();
                    }
                }
                else
                {
                    await _service.ShowSweetAlertAsync("Maaf tiada rekod dijumpai.", "Makluman", SweetAlertIcon.Error, false, "Ok");
                    Reset();
                }
            }
            else if (Carian2)
            {
                int counter = 1;
                _lstMaklumat = (await _service.GetMaklumatLegasiByDaerah( DaerahPilihan))
               .Select(item => { item.Id = counter++; return item; }).ToList();

                // _lstMaklumat = await _service.GetMaklumatLegasiByDaerah(DaerahPilihan);
                if (_lstMaklumat.Any())
                {
                    JumlahCarian2 = await _service.UpdateRunningNumber("Carian2");
                    adaRekod = true;OutputCarian = _lstMaklumat.Count();
                    StateHasChanged();

                    if (adaRekod)
                    {
                        await Task.Delay(100); // Optional: allow DOM to settle
                        await JSRuntime.InvokeVoidAsync("initializeDataTable", "myTable");
                        await JSRuntime.InvokeVoidAsync("initializeDataTablesForAll"); StateHasChanged();
                    }
                }
                else
                {
                    await _service.ShowSweetAlertAsync("Maaf tiada rekod dijumpai.", "Makluman", SweetAlertIcon.Error, false, "Ok");
                    Reset();
                }
            }
            else if (Carian3)
            {
                int counter = 1;
                _lstMaklumat = (await _service.GetMaklumatLegasiByDaerahNoLotNoGeran(DaerahPilihan,NoGeranCarian,NoLotCarian))
               .Select(item => { item.Id = counter++; return item; }).ToList();

                // _lstMaklumat = await _service.GetMaklumatLegasiByDaerah(DaerahPilihan);
                if (_lstMaklumat.Any())
                {
                    JumlahCarian3 = await _service.UpdateRunningNumber("Carian3");
                    adaRekod = true;OutputCarian = _lstMaklumat.Count();
                    StateHasChanged();

                    if (adaRekod)
                    {
                        await Task.Delay(100); // Optional: allow DOM to settle
                        await JSRuntime.InvokeVoidAsync("initializeDataTable", "myTable");
                        await JSRuntime.InvokeVoidAsync("initializeDataTablesForAll"); StateHasChanged();
                    }
                }
                else
                {
                    await _service.ShowSweetAlertAsync("Maaf tiada rekod dijumpai.", "Makluman", SweetAlertIcon.Error, false, "Ok");
                    Reset();
                }

            }
            else if (Carian4)
            {
                int Counter = 1;
                _lstMaklumatCarian4 = (await _service.CarianDataTWAByDaerah(DaerahPilihan));
                if (_lstMaklumatCarian4.Any())
                {
                    JumlahCarian4 = await _service.UpdateRunningNumber("Carian4");
                    adaRekod4 = true;OutputCarian = _lstMaklumatCarian4.Count();
                    StateHasChanged();

                    if (adaRekod4)
                    {
                        await Task.Delay(100); // Optional: allow DOM to settle
                        await JSRuntime.InvokeVoidAsync("initializeDataTable", "myTable4");
                        await JSRuntime.InvokeVoidAsync("initializeDataTablesForAll"); StateHasChanged();
                    }
                }
                else
                {
                    await _service.ShowSweetAlertAsync("Maaf tiada rekod dijumpai.", "Makluman", SweetAlertIcon.Error, false, "Ok");
                    Reset();
                }
            }
        // }
        // catch (Exception ex)
        // {
        //     Console.WriteLine(ex.Message);
        // }
    }



}
