@page "/Dashboard"
<PageTitle>Dashboard Carian Maklumat Wakaf</PageTitle>

@layout MainLayout
@using CurrieTechnologies.Razor.SweetAlert2
@using DAL.Entiti
@using IdentityAuthentication
@using Microsoft.AspNetCore.Authorization
@using SAL
@using System.Security.Claims
@using System.Web
@using eTakaf2025.Components.Layout

@attribute [Authorize]
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject IServices _service
@inject SweetAlertService Swal
@inject IConfiguration _conf
@inject NavigationManager NavMan
@inject IIdentityAuthenticationLib myIden

<div class="container-fluid">
    <div class="card">
        <div class="primary-tabs">
            <ul class="nav nav-tabs" id="primaryTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#dashboard1" type="button" role="tab" aria-controls="products" aria-selected="true">
                        <i class="bi bi-grid me-2"></i>DASHBOARD 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="services-tab" data-bs-toggle="tab" data-bs-target="#dashboard2" type="button" role="tab" aria-controls="services" aria-selected="false">
                        <i class="bi bi-gear me-2"></i>DASHBOARD 2
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="primaryTabContent">
            <div class="tab-pane fade show active" id="dashboard1" role="tabpanel" aria-labelledby="products-tab">
                @if (adaRekod)
                {
                    <div class="container mt-3 mb-5">
                        <div class="card stat-card total-card mb-4">
                            <div class="row align-items-center px-3 mt-3 mb-3">
                                <div class="input-group flex-wrap gap-2">
                                    <div class="flex-grow-1">
                                        <input type="text" class="form-control fw-bold" @bind="SearchNoLot" placeholder="Carian Maklumat Tanah Melalui Nombor Lot Sahaja ..." aria-label="Search" id="searchInput">
                                    </div>
                                    <div>
                                        <select class="form-select fw-bold" required @bind="SearchDaerah">
                                            <option class="fw-bold" value="">Sila Pilih Daerah</option>
                                            <option class="fw-bold" value="JELEBU">JELEBU</option>
                                            <option class="fw-bold" value="JEMPOL">JEMPOL</option>
                                            <option class="fw-bold" value="KUALA PILAH">KUALA PILAH</option>
                                            <option class="fw-bold" value="PORT DICKSON">PORT DICKSON</option>
                                            <option class="fw-bold" value="REMBAU">REMBAU</option>
                                            <option class="fw-bold" value="SEREMBAN">SEREMBAN</option>
                                            <option class="fw-bold" value="TAMPIN">TAMPIN</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button class="btn btn-warning text-white fw-bold" type="button" @onclick="CarianMaklumatBYLotDaerah">
                                            <i class="bi bi-search"></i> Cari Rekod
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Summary Card -->
                        <div class="row mb-5 justify-content-center d-flex">
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="card stat-card total-card">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div>
                                            <h5 class="card-title mb-0">JUMLAH TANAH/BANGUNAN WAKAF</h5>
                                            <div class="stat-value mt-2">@TotalJumlahTW</div>
                                            <div class="stat-label">Keseluruhan</div>
                                        </div>
                                        <div class="stat-icon">
                                            <i class="bi bi-map"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="card stat-card total-card">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div>
                                            <h5 class="card-title mb-0">JUMLAH TANAH/BANGUNAN KOSONG</h5>
                                            <div class="stat-value mt-2"><span style="color:yellow;">@TotalJumlahTanahKosong</SPAN></div>
                                            <div class="stat-label">Keseluruhan</div>
                                        </div>
                                        <div class="stat-icon">
                                            <i class="bi bi-map"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="card stat-card total-card">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div>
                                            <h5 class="card-title mb-0">JUMLAH TANAH/BANGUNAN DIGUNA</h5>
                                            <div class="stat-value mt-2">@TotalJumlahTanahSewa</div>
                                            <div class="stat-label">Keseluruhan</div>
                                        </div>
                                        <div class="stat-icon">
                                            <i class="bi bi-map"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center d-flex">
                            <div class="col-xxl-3 col-xl-6 mb-3">
                                <div class="card stat-card shadow-lg">
                                    <div class="card-header bg-success text-white text-center">
                                        <h5 class="mb-0">TANAH/BANGUNAN KOSONG</h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">TANAH KOSONG</h5>
                                        <div class="stat-value mt-2" style="color:red;">@TotalJumlahTanahKosong_P.ToString("N2")% </div>
                                        <div class="stat-label fw-bolder">@TotalJumlahTanahKosong Bidang Tanah Keseluruhan</div>
                                        <hr />
                                        <div class="row text-center pe-2 mt-3">
                                            <div class="col-6 border-end">
                                                <h6 class="card-title text-primary mb-0">WAKAF AM</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWAKosong" style="cursor: pointer;color: #d6a80c ;">@TanahKosongTWA_P.ToString("N2")%</div>
                                                <div class="stat-label fw-bold">@TanahKosongTWA BIdang Tanah Kosong</div>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="card-title text-warning mb-0">WAKAF KHAS</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWKKosong" style="cursor: pointer;color: #94a90c ;">@TanahKosongTWK_P.ToString("N2")%</div>
                                                <div class="stat-label fw-bold">@TanahKosongTWK Bidang Tanah Kosong</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xxl-6 col-xl-10 mb-3">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card-header bg-success text-white text-center">
                                        <h5 class="mb-0">Pecahan Tanah/Bangunan Kosong Mengikut Jenis Wakaf</h5>
                                    </div>
                                    @if (adaRekodDetails)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="fw-bold">Wakaf</th>
                                                            <th class="fw-bold">Kategori</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _detailTanahKosong)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.JenisWakaf == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.JenisWakaf
                                                                </td>
                                                                <td>@xx.Kategori</td>
                                                                <td class="fw-bold" style="color:red;">@xx.Jumlah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td></td>
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_detailTanahKosong.Sum(x => x.Jumlah)
                                                            </td>
                                                        </tr>
                                                     
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                           @*  <div class="col-xxl-3 col-xl-7 mb-3">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card stat-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span>Pecahan Tanah/Bangunan Kosong Mengikut Jenis Wakaf</span>
                                                <i class="bi bi-bar-chart"></i>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-container">
                                                <canvas id="ChartKosong1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@

                            <div class="col-xxl-3 col-xl-7">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card stat-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span>Jumlah Tanah Kosong Mengikut Daerah</span>
                                                <i class="bi bi-bar-chart"></i>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-container">
                                                <canvas id="landChart4"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--details box for description -->
                        <div class="row justify-content-center d-flex mt-5">
                            <div class="col-xxl-3 col-xl-6">
                                <div class="card stat-card shadow-lg">
                                    <div class="card-header bg-success text-white text-center">
                                        <h5 class="mb-0">TANAH/BANGUNAN TIDAK KOSONG</h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <h6 class="card-title mb-0">TANAH SELAIN KOSONG</h6>
                                        <div class="stat-value mt-2" style="color:darkgreen;">@TotalJumlahTanahSewa_P.ToString("N2")%</div>
                                        <div class="stat-label fw-bolder">@TotalJumlahTanahSewa BIDANG tANAH Keseluruhan</div>
                                        <hr />
                                        <div class="row text-center pe-2 mt-3">
                                            <div class="col-6 border-end">
                                                <h6 class="card-title text-primary mb-0">WAKAF AM</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWASewa" style="cursor: pointer;color:darkblue;">@TanahSewaTWA_P.ToString("N2")%</div>
                                                <div class="stat-label">@TanahSewaTWA Bidang Tanah Disewa</div>
                                            </div>

                                            <div class="col-6">
                                                <h6 class="card-title text-warning mb-0">WAKAF KHAS</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWKSewa" style="cursor: pointer;color:darkblue;">@TanahSewaTWK_P.ToString("N2")%</div>
                                                <div class="stat-label">@TanahSewaTWK Bidang Tanah Disewa</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-5">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card-header bg-success text-white text-center">
                                        <h5 class="mb-0">Pecahan Tanah/Bangunan Tidak Kosong Mengikut Jenis Wakaf</h5>
                                    </div>
                                    @if (adaRekodDetailsSewaan)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="fw-bold">Jenis Wakaf</th>
                                                            <th class="fw-bold">Kategori</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _detailDisewa)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.JenisWakaf == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.JenisWakaf
                                                                </td>

                                                                <td class="fw-bold">@xx.Kategori</td>
                                                                <td class="fw-bold" style="color:red;">@xx.Jumlah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td></td>
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_detailDisewa.Sum(x => x.Jumlah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="col-xxl-3 col-xl-7">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card stat-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span>Pecahan Tanah/Bangunan Tidak Kosong Mengikut Jenis Wakaf</span>
                                                <i class="bi bi-bar-chart"></i>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-container">
                                                <canvas id="ChartSewaan"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                       @*  <div class="row justify-content-center d-flex mt-5">
                            <div class="col-xxl-3 col-xl-6">
                                <div class="card stat-card shadow-lg">
                                    <div class="card-header">
                                        <div class="card-title">
                                            TANAH BUKAN SEWAAN
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title mb-0">TANAH/BANGUNAN BUKAN SEWAAN</h5>
                                        <div class="stat-value mt-2" style="color: #ceab23 ;">@TotalJumlahTanahBukanSewaan_P.ToString("N2")%</div>
                                        <div class="stat-label fw-bolder">@TotalJumlahTanahBukanSewaan bIDANG TANAH Keseluruhan</div>
                                        <hr />
                                        <div class="row text-center pe-2 mt-3">
                                            <div class="col-6 border-end">
                                                <h6 class="card-title text-primary mb-0">WAKAF AM</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWABukanSewaan" style="cursor: pointer;color:darkblue;">@TanahBukanSewaanTWA_P.ToString("N2")%</div>
                                                <div class="stat-label">@TanahBukanSewaanTWA Bidang Tanah Bukan Sewaaan</div>
                                            </div>

                                            <div class="col-6">
                                                <h6 class="card-title text-warning mb-0">WAKAF KHAS</h6>
                                                <div class="stat-value1 mt-2" @onclick="ShowTWKBukanSewaan" style="cursor: pointer;color:darkblue;">@TanahBukanSewaanTWK_P.ToString("N2")%</div>
                                                <div class="stat-label">@TanahBukanSewaanTWK Bidang Tanah Bukan Sewaan</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-5">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card-header bg-success text-white text-center">
                                        <h5 class="mb-0">Pecahan Tanah/Bangunan Bukan Sewaan Mengikut Jenis Wakaf</h5>
                                    </div>
                                    @if (adaRekodDetailsXlehSewa)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="fw-bold">Jenis Wakaf</th>
                                                            <th class="fw-bold">Kategori</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _detailBukanSewaan)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.JenisWakaf == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.JenisWakaf
                                                                </td>

                                                                <td class="fw-bold">@xx.Kategori</td>
                                                                <td class="fw-bold" style="color:red;">@xx.Jumlah</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-7">
                                <div class="card stat-card shadow-lg h-100">
                                    <div class="card stat-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span>Pecahan Tanah/Bangunan Bukan Sewaan Mengikut Jenis Wakaf</span>
                                                <i class="bi bi-bar-chart"></i>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-container">
                                                <canvas id="ChartBukanSewaan"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        *@
                    </div>
                }

            </div>
            <!--DashboardInfo Utk Daerah2-->
            <div class="tab-pane fade" id="dashboard2" role="tabpanel" aria-labelledby="products-tab">
                <div class="card mt-3 pe-3 px-3">
                    <div class="card-header bg-success text-white text-center">
                        <h5 class="mb-0">MAKLUMAT TANAH/BANGUNAN WAKAF MENGIKUT DAERAH</h5>
                    </div>
                   <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <div class="card stat-card h-100">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>Jumlah Tanah/Bangunan Wakaf Mengikut Daerah</span>
                                            <i class="bi bi-bar-chart"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <canvas id="landChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row g-4 mt-3">
                            <!-- Seremban Card -->
                            <div class="col-sm-12 col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>SEREMBAN</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Seremban"))">@SerembanPercent.ToString("N2")% </div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small> @SerembanJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI SEREMBAN</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaSeremban)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashSerembanInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashSerembanInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                            </div>
                        <div class="row g-4 mt-3">
                            <!-- Kuala Pilah Card -->
                            <div class="col-sm-12 col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>KUALA PILAH</span>
                                            <i class="bi bi-house"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Kuala Pilah"))">@KualaPilahPercent.ToString("N2")%</div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 38%;" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small> @KualaPilahJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI KUALA PILAH</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaKualaPilah)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashKualaPilahInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashKualaPilahInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row g-4 mt-3">
                            <!-- Tampin Card -->
                            <div class="col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>TAMPIN</span>
                                            <i class="bi bi-tree"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Tampin"))">@TampinPercent.ToString("N2")%  </div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small>@TampinJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI TAMPIN</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaTampin)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashTampinInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashTampinInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row g-4 mt-3">
                            <!-- Jelebu Card -->
                            <div class="col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>JELEBU</span>
                                            <i class="bi bi-geo"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Jelebu"))">@JelebuPercent.ToString("N2")% </div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 21%;" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small> @JelebuJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI JELEBU</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaJelebu)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashJelebuInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashJelebuInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                            <div class="row g-4 mt-3">
                            <!-- Port Dickson Card -->
                                <div class="col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>PORT DICKSON</span>
                                            <i class="bi bi-water"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Port Dickson"))">@PortDicksonPercent.ToString("N2")%</div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 17%;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small> @PortDicksonJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI PORT DICKSON</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaPortDickson)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashPortDicksonInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashPortDicksonInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            </div>
                            <div class="row g-4 mt-3">
                            <!-- Rembau Card -->
                                 <div class="col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>REMBAU</span>
                                            <i class="bi bi-pin-map"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Rembau"))">@RembauPercent.ToString("N2")% </div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small>@RembauJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI REMBAU</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaRembau)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashRembauInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashRembauInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            </div>
                            <div class="row g-4 mt-3">
                            <!-- Jempol Card -->
                                <div class="col-md-3">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>JEMPOL</span>
                                            <i class="bi bi-signpost-2"></i>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="stat-value" style="color: #458833 ;cursor:pointer;" @onclick="@(() => ShowData("Jempol"))">@JempolPercent.ToString("N2")% </div>
                                        <div class="stat-label">Bidang Tanah</div>
                                        <div class="progress mt-3" style="height: 10px;">
                                            <div class="progress-bar" style="background-color: #7209b7; width: 13%;" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-end mt-1"><small>@JempolJumlah dari @TotalJumlahTW</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="card stat-card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>MAKLUMAT TANAH/BANGUNAN WAKAF DI JEMPOL</span>
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    @if (adaJempol)
                                    {
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <div class="table-responsive w-100">
                                                <table class="table table-bordered table-hover text-center align-middle mb-0">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <th class="fw-bold">Keterangan</th>
                                                            <th class="fw-bold">Jumlah</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var xx in _dashJempolInfo)
                                                        {
                                                            <tr>
                                                                <td class="fw-bold" style="color:@(xx.Keterangan == "Wakaf (am)" ? "#75BBA7" : "#645244")">
                                                                    @xx.Keterangan
                                                                </td>
                                                                <td class="fw-bold" style="color:red;">@xx.JumlahTanah</td>
                                                            </tr>
                                                        }
                                                        <tr class="table-light">
                                                            <td class="fw-bold text-end">Jumlah Keseluruhan</td>
                                                            <td class="fw-bold text-danger">
                                                                @_dashJempolInfo.Sum(x => x.JumlahTanah)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>



   




@code {
    IEnumerable<DashboardInfo> _data = []; IEnumerable<DashboardInfo> _data2 = []; IEnumerable<DashboardInfo> _statushuni = [];
    IEnumerable<DashboardInfo> _tanahkosong = [];
    IEnumerable<PecahanRekodTanah> _detailTanahKosong = []; IEnumerable<PecahanRekodTanah> _detailDisewa = []; IEnumerable<PecahanRekodTanah> _detailBukanSewaan = [];
    IEnumerable<DashboardInfo> _dashInfoTanahKosong = []; IEnumerable<DashboardInfo> _dashInfoDiSewa = []; IEnumerable<DashboardInfo> _dashInfoBukanSewaan = [];
    IEnumerable<DashboardInfo> _dashSerembanInfo = []; IEnumerable<DashboardInfo> _dashRembauInfo = []; IEnumerable<DashboardInfo> _dashTampinInfo = [];
    IEnumerable<DashboardInfo> _dashJelebuInfo = []; IEnumerable<DashboardInfo> _dashPortDicksonInfo = []; IEnumerable<DashboardInfo> _dashKualaPilahInfo = [];
    IEnumerable<DashboardInfo> _dashJempolInfo = [];


    public string Mode = string.Empty;
    public bool adaRekod = false;
    public bool adaRekodDetails = false;
    public bool adaRekodDetailsSewaan = false;
    public bool adaRekodDetailsXlehSewa = false;

    public bool adaSeremban = false; public bool adaKualaPilah = false; public bool adaTampin = false;
    public bool adaPortDickson = false; public bool adaJelebu = false; public bool adaRembau = false; public bool adaJempol = false;


    public string SearchNoLot = string.Empty;public string SearchDaerah = string.Empty;

    public int SerembanJumlah = 0; public int RembauJumlah = 0; public int JelebuJumlah = 0;
    public int KualaPilahJumlah = 0; public int PortDicksonJumlah = 0; public int TampinJumlah = 0;
    public int JempolJumlah = 0;
    public int TotalJumlahTW = 0;
    public int TanahKosongTWA = 0; public int TanahKosongTWK = 0; public int TanahSewaTWA = 0; public int TanahSewaTWK = 0;
    public int TanahBukanSewaanTWK = 0; public int TanahBukanSewaanTWA = 0;

    public int TotalJumlahTanahKosong = 0; public int TotalJumlahTanahSewa = 0; public int TotalJumlahTanahBukanSewaan = 0;
    public double TotalJumlahTanahKosong_P = 0; public double TotalJumlahTanahSewa_P = 0; public double TotalJumlahTanahBukanSewaan_P = 0;
    public double TanahKosongTWA_P = 0; public double TanahKosongTWK_P = 0; public double TanahSewaTWA_P = 0; public double TanahSewaTWK_P = 0;
    public double TanahBukanSewaanTWA_P = 0; public double TanahBukanSewaanTWK_P = 0;

    public decimal SerembanPercent; public decimal JempolPercent; public decimal RembauPercent; public decimal JelebuPercent;
    public decimal KualaPilahPercent; public decimal TampinPercent; public decimal PortDicksonPercent;

    private async Task LoadFile()
    {
        await JSRuntime.InvokeVoidAsync("loadSweetAlert");
    }

    private void ShowTWASewa()
    {
        string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"TWAS"}" : $"/e-Takaf/MaklumatRekodWakaf/{"TWAS"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }

    private void ShowTWKSewa()
    {
        string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"TWKS"}" : $"/e-Takaf/MaklumatRekodWakaf/{"TWKS"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }

    private void ShowTWAKosong()
    {
        string baseUrl = (Mode == "Dev")
        ? $"/MaklumatRekodWakaf/{"TWA"}"
        : $"/e-Takaf/MaklumatRekodWakaf/{"TWA"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }

    private void ShowTWKKosong()
    {
        string baseUrl = (Mode == "Dev")
        ? $"/MaklumatRekodWakaf/{"TWK"}"
        : $"/e-Takaf/MaklumatRekodWakaf/{"TWK"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }

    private void ShowTWABukanSewaan()
    {
        string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"TWABS"}" : $"/e-Takaf/MaklumatRekodWakaf/{"TWABS"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }
    private void ShowTWKBukanSewaan()
    {
        string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"TWKBS"}" : $"/e-Takaf/MaklumatRekodWakaf/{"TWKBS"}";
        NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
    }




    private void ShowData(string data)
    {
        if (data == "Seremban")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Seremban"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Seremban"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Kuala Pilah")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Kuala Pilah"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Kuala Pilah"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Rembau")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Rembau"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Rembau"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Jelebu")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Jelebu"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Jelebu"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Jempol")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Jempol"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Jempol"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Tampin")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Tampin"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Tampin"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
        else if (data == "Port Dickson")
        {
            string baseUrl = (Mode == "Dev") ? $"/MaklumatRekodWakaf/{"Port Dickson"}" : $"/e-Takaf/MaklumatRekodWakaf/{"Port Dickson"}";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFile();
            adaRekod = (_data = await _service.GetDashboardInfo()).Any();
            _data2 = await _service.GetKegunaanTanah();
            _statushuni = await _service.GetKegunaanByStatusPenghunian();
            _tanahkosong = await _service.GetInfoTanahKosongByDaerahSahaja();

            _dashInfoTanahKosong = await _service.GetDashboardInfoPecahanTanahKosongByKategoriWakaf("Kosong");
            _dashInfoDiSewa = await _service.GetDashboardInfoPecahanTanahBukanKosongByKategoriWakaf("Kosong");
            _dashInfoBukanSewaan = await _service.GetDashboardInfoPecahanTanahKosongByKategoriWakaf("Bukan Sewaan");

            _detailTanahKosong = await _service.GetPecahanRecordTanahKosongbyKategoriDetails("Kosong");
            if (_detailTanahKosong.Any()) adaRekodDetails = true;

            _detailDisewa = await _service.GetPecahanRecordTanahBukanKosongbyKategoriDetails("Disewa");
            if (_detailDisewa.Any()) adaRekodDetailsSewaan = true;

            _detailBukanSewaan = await _service.GetPecahanRecordTanahKosongbyKategoriDetails("Bukan Sewaan");
            if (_detailBukanSewaan.Any()) adaRekodDetailsXlehSewa = true;




            TotalJumlahTW = _data.Sum(x => x.JumlahTanah);
            if (adaRekod)
            {

                var daerahMap = new Dictionary<string, Action<int>>
                {
                    { "Seremban", val => SerembanJumlah = val },
                    { "Kuala Pilah", val => KualaPilahJumlah = val },
                    { "Port Dickson", val => PortDicksonJumlah = val },
                    { "Tampin", val => TampinJumlah = val },
                    { "Jelebu", val => JelebuJumlah = val },
                    { "Rembau", val => RembauJumlah = val },
                    { "Jempol", val => JempolJumlah = val }
                };

                foreach (var xx in _data)
                {
                    if (daerahMap.TryGetValue(xx.Daerah, out var assignValue))
                    {
                        assignValue(xx.JumlahTanah);
                    }
                }

                if (!string.IsNullOrEmpty(TotalJumlahTW.ToString()))
                {
                    CalculatePercentage(TotalJumlahTW);
                }

                await JSRuntime.InvokeVoidAsync("updateChart", 
                    _data.Select(d => d.Daerah).ToArray(),
                    _data.Select(d => d.JumlahTanah).ToArray());

                await JSRuntime.InvokeVoidAsync("updateChart2",
                   _data2.Select(d => d.Keterangan).ToArray(),
                   _data2.Select(d => d.JumlahTanah).ToArray());

                if (_statushuni.Any())
                {
                    await JSRuntime.InvokeVoidAsync("updateChart3",
                  _statushuni.Select(d => d.Keterangan).ToArray(),
                  _statushuni.Select(d => d.JumlahTanah).ToArray());
                }

                if (_tanahkosong.Any())
                {
                    await JSRuntime.InvokeVoidAsync("updateChart4",
                    _tanahkosong.Select(d => d.Daerah).ToArray(),
                    _tanahkosong.Select(d => d.JumlahTanah).ToArray());
                }
                if (_dashInfoTanahKosong.Any())
                {
                    await JSRuntime.InvokeVoidAsync("updateChart5",
                    _dashInfoTanahKosong.Select(d => d.Keterangan).ToArray(),
                    _dashInfoTanahKosong.Select(d => d.JumlahTanah).ToArray());
                }

                if (_dashInfoDiSewa.Any())
                {
                    await JSRuntime.InvokeVoidAsync("ChartDisewa",
                   _dashInfoDiSewa.Select(d => d.Keterangan).ToArray(),
                   _dashInfoDiSewa.Select(d => d.JumlahTanah).ToArray());
                }

                if (_dashInfoBukanSewaan.Any())
                {
                    await JSRuntime.InvokeVoidAsync("ChartBukanDisewa",
                   _dashInfoBukanSewaan.Select(d => d.Keterangan).ToArray(),
                   _dashInfoBukanSewaan.Select(d => d.JumlahTanah).ToArray());
                }



                _dashSerembanInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Seremban");
                if (_dashSerembanInfo.Any()) adaSeremban = true;

                _dashTampinInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Tampin");
                if (_dashTampinInfo.Any()) adaTampin = true;

                 _dashRembauInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Rembau");
                if (_dashRembauInfo.Any()) adaRembau = true;

                _dashKualaPilahInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Kuala Pilah");
                if (_dashKualaPilahInfo.Any()) adaKualaPilah = true;

                _dashJelebuInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Jelebu");
                if (_dashJelebuInfo.Any()) adaJelebu = true;

                _dashPortDicksonInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Port Dickson");
                if (_dashPortDicksonInfo.Any()) adaPortDickson = true;

                _dashJempolInfo = await _service.GetDashboardInfoGroupByDaerahDanJenisWakaf("Jempol");
                if (_dashJempolInfo.Any()) adaJempol = true;


                TanahKosongTWA = await _service.CountJumlahTWAKosongBothKategori();
                TanahKosongTWK = await _service.CountJumlahTWKKosongBothKategori();
                TanahSewaTWA = await _service.CountJumlahTWADisewa();
                TanahSewaTWK = await _service.CountJumlahTWKDisewa();
                TanahBukanSewaanTWA = await _service.CountJumlahTWABukanDisewa();
                TanahBukanSewaanTWK = await _service.CountJumlahTWKBukanDisewa();

                TotalJumlahTanahKosong = TanahKosongTWA + TanahKosongTWK;
                TotalJumlahTanahSewa = TanahSewaTWA + TanahSewaTWK;
                TotalJumlahTanahBukanSewaan = TanahBukanSewaanTWA + TanahBukanSewaanTWK;

                TotalJumlahTanahKosong_P = ((double)TotalJumlahTanahKosong / TotalJumlahTW) * 100;
                TotalJumlahTanahBukanSewaan_P = ((double)TotalJumlahTanahBukanSewaan / TotalJumlahTW) * 100;
                TotalJumlahTanahSewa_P = ((double)TotalJumlahTanahSewa / TotalJumlahTW) * 100;

                TanahKosongTWA_P = ((double)TanahKosongTWA / TotalJumlahTanahKosong) * 100;
                TanahKosongTWK_P = ((double)TanahKosongTWK / TotalJumlahTanahKosong) * 100;
                TanahSewaTWA_P = ((double)TanahSewaTWA / TotalJumlahTanahSewa) * 100;
                TanahSewaTWK_P = ((double)TanahSewaTWK / TotalJumlahTanahSewa) * 100;
                TanahBukanSewaanTWA_P = ((double)TanahBukanSewaanTWA / TotalJumlahTanahBukanSewaan) * 100;
                TanahBukanSewaanTWK_P = ((double)TanahBukanSewaanTWK / TotalJumlahTanahBukanSewaan) * 100;
                StateHasChanged();
            }

            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Mode = _conf["Mode"]?.ToString() ?? string.Empty;
        var authState = await myIden.GetUserAsync();
        var user = authState.Identity as ClaimsIdentity;

        if (user == null || !user.IsAuthenticated)
        {
            await myIden.SignOutUserAsync();
            string baseUrl = (Mode == "Dev") ? "/SessiTamat" : "/e-Takaf/SessiTamat";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
    }

    void CalculatePercentage(int jumlah)
    {
        var daerahMap = new Dictionary<string, double>
    {
        { "Seremban", SerembanJumlah },
        { "Tampin", TampinJumlah },
        { "Jempol", JempolJumlah },
        { "Kuala Pilah", KualaPilahJumlah },
        { "Rembau", RembauJumlah },
        { "Port Dickson", PortDicksonJumlah },
        { "Jelebu", JelebuJumlah }
    };

        foreach (var key in daerahMap.Keys.ToList()) // Convert keys to a list for modification
        {
            daerahMap[key] = (daerahMap[key] / (double)jumlah) * 100; // Ensure proper division
        }

        // Assign calculated percentages back to their respective variables
        SerembanPercent = Convert.ToDecimal(daerahMap["Seremban"]);
        TampinPercent = Convert.ToDecimal(daerahMap["Tampin"]);
        JempolPercent = Convert.ToDecimal(daerahMap["Jempol"]);
        KualaPilahPercent = Convert.ToDecimal(daerahMap["Kuala Pilah"]);
        RembauPercent = Convert.ToDecimal(daerahMap["Rembau"]);
        PortDicksonPercent = Convert.ToDecimal(daerahMap["Port Dickson"]);
        JelebuPercent = Convert.ToDecimal(daerahMap["Jelebu"]);
    }

    private async Task CarianMaklumatBYLotDaerah()
    {

        if (!string.IsNullOrEmpty(SearchNoLot) && !string.IsNullOrEmpty(SearchDaerah))
        {
            try
            {
                SearchNoLot = HttpUtility.UrlEncode(EncryptionHelper.Encrypt(SearchNoLot));
                SearchDaerah = HttpUtility.UrlEncode(EncryptionHelper.Encrypt(SearchDaerah));

                string baseUrl = (Mode == "Dev") ? $"/MaklumatCarian/{SearchNoLot}/{SearchDaerah}" : $"/e-Takaf/MaklumatCarian/{SearchDaerah}/{SearchNoLot}";
                NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);

            }
            catch(System.Exception err)
            {
                throw new Exception(err.Message);
            }
        }
        else
        {
            await _service.ShowSweetAlertAsync("Pastikan No. Lot dan Daerah Dipilih Terlebih Dahulu", "Makluman", SweetAlertIcon.Info, false, "Ok");
        }
    }

}
